@charset "UTF-8";

#submit {
	position: absolute;
	right: 500px;
}
.bg {
	background-color: #FDF5E6;
	/* 畫面間距 */
/* 	margin: 30px; */
}
.right{
	width:80%;
    float:right;
}

/* .h3{ */
/* 	font-family: "Times New Roman"; */
/* } */

*{
 	font-family:"Microsoft JhengHei";
 }

