<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 請購使用連結 -->
	<bean id="login.errors"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Apply/ApplyLogin.jsp"></property>
	</bean>
	<bean id="app.product"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Apply/ApplySend.jsp"></property>
	</bean>
	<bean id="login.success"
		class="org.springframework.web.servlet.view.RedirectView">
		<property name="contextRelative" value="true"></property>
		<property name="url" value="/Apply/ApplyLoginSuccess.jsp"></property>

	</bean>
	<bean id="Apply.List"
		class="org.springframework.web.servlet.view.RedirectView">
		<property name="contextRelative" value="true"></property>
		<property name="url" value="/Apply/ApplyList.jsp"></property>
	</bean>
	<bean id="apply.ok"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Apply/ApplyLoginSuccess.jsp"></property>
	</bean>
	<bean id="apply.sign"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Apply/ApplySignprocess.jsp"></property>
	</bean>
	<bean id="apply.querysign"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Apply/ApplyQuerySign.jsp"></property>
	</bean>

	<bean id="apply.mangersign"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Apply/ApplyMangerSign.jsp"></property>
	</bean>
	<bean id="apply.signerdetail"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Apply/ApplyMangerSignDetail.jsp"></property>
	</bean>
	<!-- 請購使用連結 -->
	<!-- 財務使用連結 -->
	<bean id="Acclogin.success"
		class="org.springframework.web.servlet.view.RedirectView">
		<property name="contextRelative" value="true"></property>
		<property name="url" value="/Account/AccountLoginSuccess.jsp"></property>
	</bean>
	<bean id="Acclogin.errors"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Account/AccountLogin.jsp"></property>
	</bean>
	<!-- 財務使用連結 -->
	<!-- 採購使用連結 -->
	<bean id="POlogin.success"
		class="org.springframework.web.servlet.view.RedirectView">
		<property name="contextRelative" value="true"></property>
		<property name="url" value="/Po/POLoginSuccess.jsp"></property>
	</bean>
	<bean id="POlogin.successint"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/POLoginSuccess.jsp"></property>
	</bean>

	<bean id="POlogin.errors"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/POLogin.jsp"></property>
	</bean>
	<bean id="POlog.out"
		class="org.springframework.web.servlet.view.RedirectView">
		<property name="contextRelative" value="true"></property>
		<property name="url" value="/Po/POLogin.jsp"></property>
	</bean>
	<bean id="SendEmployee.do"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/SendEmployee.jsp"></property>
	</bean>
	<bean id="ListMain.show"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/ListMain.jsp"></property>
	</bean>
	<bean id="sendlist.ok"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/POLoginSuccess.jsp"></property>
	</bean>
	<bean id="select.list"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/SelectPoList.jsp"></property>
	</bean>
	<bean id="select.listDetail"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/SelectPoListDetail.jsp"></property>
	</bean>
	<bean id="Posend.sign"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/Posendlistsign.jsp"></property>
	</bean>
	<bean id="Posendcheck.sign"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/Posendlistsigncheck.jsp"></property>
	</bean>
	<bean id="QueryMemo.show"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/Query.jsp"></property>
	</bean>
	<bean id="SignedOrder.show"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/SignedOrder.jsp"></property>
	</bean>
	<bean id="SignedOrderDetail.show"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/SignedOrderDetail.jsp"></property>
	</bean>
	<!-- 採購單簽核連結 -->
	<bean id="PoSignerProcess.to"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/PoSignerProcess.jsp"></property>
	</bean>
	<!-- 採購單簽核detail -->
	<bean id="PoSignerProcessdetail.to"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/PoSignerProcessdetail.jsp"></property>
	</bean>

	<!-- 採購使用連結 -->
	<!-- 驗收使用連結 -->
	<bean id="Invlogin.success"
		class="org.springframework.web.servlet.view.RedirectView">
		<property name="contextRelative" value="true"></property>
		<property name="url" value="/Inv/InvLoginSuccess.jsp"></property>
	</bean>
	<bean id="Invlogin.errors"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Inv/InvLogin.jsp"></property>
	</bean>
	<bean id="InvSendEmployee.do"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url"  value="/Inv/InvSendEmployee.jsp"></property>
	</bean>
	<bean id="InvList.show"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Inv/InvProductMain.jsp"></property>
	</bean>
	<!-- 驗收使用連結 -->

	<!--待請款單使用連結 -->
	<bean id="TodoInvoiceList"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/TodoInvoiceList.jsp"></property>
	</bean>
	<bean id="newForm"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Account/Insertinvoiceform.jsp"></property>
	</bean>
	<bean id="updateForm"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Account/Updateinvoiceform.jsp"></property>
	</bean>
	<!-- 待請款單使用連結 -->


	<!-- 採購使用連結 -->
	<!-- 首頁登入連結 -->
	<bean id="indexlogin.error"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="MainPage.jsp"></property>
	</bean>
	<bean id="indexlogin.return"
		class="org.springframework.web.servlet.view.RedirectView">
		<property name="contextRelative" value="true"></property>
		<property name="url" value="MainPage.jsp"></property>
	</bean>
<!-- 首頁登入連結 -->

	<!-- 採購主管待審核請款單連結 -->
	<bean id="todoSignInvoice.show"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Po/ManagerTodoSignInvoice.jsp"></property>
	</bean>
	<!-- 採購主管待審核請款單連結 -->

	<!-- 財務主管待分派請款單連結 -->
	<bean id="assignInv.show"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Account/ToDoAssignInvoice.jsp"></property>
	</bean>
	<!-- 財務主管待分派請款單連結 -->
	<!-- 財務主管待審核請款單連結 -->
	<bean id="signInv.show"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Account/ToDoSignList.jsp"></property>
	</bean>
	<!-- 財務主管待審核請款單連結 -->

	<!-- 總經理連結 -->
	<bean id="ceo.login"
		class="org.springframework.web.servlet.view.RedirectView">
		<property name="contextRelative" value="true"></property>
		<property name="url" value="/Apply/CeoPage.jsp"></property>
	</bean>
	<bean id="CeoPosignprocess.do"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url" value="/Apply/CeoPosignprocess.jsp"></property>
	</bean>
	<bean id="CeoPosignprocessdetail.do"
		class="org.springframework.web.servlet.view.InternalResourceView">
		<property name="url"
			value="/Apply/CeoPosignprocessdetail.jsp"></property>
	</bean>
	<!-- 總經理連結 -->
</beans>
